<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="stylesheet" href="/css/homePage.css">
</head>
<body>
    <h1> Welcome </h1>
    <div class="name"> Enter your name </div>
    <input type="text" placeholder="Your good name" class = "input">
    <script src="/js/homePage.js"></script>
</body>
</html>