*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 224, 224);
}
header{
    position: sticky;
    top: 0;
  }
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-around;
}
.nav-logo{
    height: 50px;
    width: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.logo{
    background-image: url("Amazon_logo.png");
    height: 44px;
    width: 115px;
    background-size: cover;
    margin-top: 3px;
    margin-bottom: 3px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 5px;
}
.border1{
    border: 2px solid transparent;
}
.border1:hover{
    border: 1.5px solid black;
    border-radius: 5px;
}
.delivery{
    height: 50px;
    width: 100px;
    margin: 5px 2px 5px 0px;
    align-items: center;
    padding-left: 10px;
}
#p1{
    color: #cccccc;
    font-size: 13px;
    padding: 5px 0px 0px 20px;
}
#p2{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 0px 3px;
}
.add-icon{
    display: flex;
    margin-left: 7px;
}
.nav-search{
    display: flex;
    height: 39px;
    width: 800px;
    margin-top: 10px;
}
.search-icon{
    height: 39px;
    width: 40px;
    background-color: orange;
    padding: 10px 10px 10px 10px;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search{
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.lang{
    display: flex;
    height: 20px;
    margin-top: 20px;
}
.flag{
    margin-right: 4px;
}
#hello{
    font-size: 13px;
    margin-top: 13px;
    font-weight: bold;
}
.hello-user{
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
}
#sign{
    color: white;
    font-size: 14px;
}
.order{
    width: 70px;
    margin-top: 3px;
    margin-bottom: 3px;
}
#return{
    font-size: 13px;
    margin-top: 14px;
}
#order{
    font-weight: bold;
    font-size: 15px;
}
.cart{
    font-size: 30px;
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}
#cart-text{
    font-size: 20px;
    margin-top: 24px;
    font-weight: bolder;
    margin-right: 5px;
}
#cart-logo{
    margin-top: 14px;
}
.toolsbar{
    background-color: #243749;
    height: 40px;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 17px;
}
.bar1{
    margin-right: 6px;
}
.bar{
    padding-top: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 20px;
}
.main_image{
    background-image: url(image.png);
    height: 600px;
    background-size: cover;
}
.sub_image{
    display: flex;
    justify-content: space-around;
}
.game{
    height: 400px;
    width: 350px;
    margin-top: 350px;
    border: 5px solid rgb(181, 0, 181);
    background-color: white;
    color: black;
}
.pc{
    background-image: url(pc.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: cover;
}
#game{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.home{
    height: 400px;
    width: 350px;
    margin-top: 350px;
    border: 5px solid rgb(181, 0, 181);
    background-color: white;
    color: black;
}
#home{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.first{
    display: flex;
}
.clean{
    background-image: url(cleaning.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 10px 20px 20px 20px;
}
#clean{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.storage{
    background-image: url(storage.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 10px 20px 20px 20px;
}
#storage{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.second{
    display: flex;
}
.decor{
    background-image: url(decor.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 15px 20px 20px 20px;
}
#decor{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.bed{
    background-image: url(bedding.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 15px 20px 20px 20px;
}
#bed{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.kitchen{
    height: 400px;
    width: 350px;
    margin-top: 350px;
    border: 5px solid rgb(181, 0, 181);
    background-color: white;
    color: black;
}
#kitchen{
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
}
.third{
    display: flex;
}
.Cooker{
    background-image: url(cooker.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 10px 20px 20px 20px;
}
#Cooker{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.coffee{
    background-image: url(coffee.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 10px 20px 20px 20px;
}
#coffee{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.fourth{
    display: flex;
}
.pots{
    background-image: url(pot.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 15px 20px 20px 20px;
}
#pots{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.kettle{
    background-image: url(kettle.png);
    height: 130px;
    width: 130px;
    background-size: cover;
    margin: 15px 20px 20px 20px;
}
#kettle{
    margin-top: 135px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.toys{
    height: 400px;
    width: 350px;
    margin-top: 350px;
    border: 5px solid rgb(181, 0, 181);
    background-color: white;
    color: black;
}
#toys{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.toy{
    background-image: url(toys.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: cover;
}
.sub_image2{
    display: flex;
    justify-content: space-around;
}
.new_arrivals{
    height: 400px;
    width: 350px;
    margin-top: 50px;
    border: 5px solid rgb(177, 176, 176);
    background-color: white;
    color: black;
}
#new_arrivals{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.new_arrival{
    background-image: url(new.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: cover;
}
.hardwares{
    height: 400px;
    width: 350px;
    margin-top: 50px;
    border: 5px solid rgb(177, 176, 176);
    background-color: white;
    color: black;
}
#hardwares{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.hardware{
    background-image: url(hardware.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: auto;
}
.dines{
    height: 400px;
    width: 350px;
    margin-top: 50px;
    border: 5px solid rgb(177, 176, 176);
    background-color: white;
    color: black;
}
#dines{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.dine{
    background-image: url(dinning.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: cover;
}
.makes{
    height: 400px;
    width: 350px;
    margin-top: 50px;
    border: 5px solid rgb(177, 176, 176);
    background-color: white;
    color: black;
}
#makes{
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 15px;
}
.make{
    background-image: url(make_up.png);
    height: 300px;
    width: 300px;
    margin: 15px 20px 10px 20px;
    background-size: auto;
}
.back{
    height: 40px;
    background-color: #121d23;
    color: white;
    margin-top: 70px;
    padding: 12px 710px 12px 710px;
    font-weight: bold;
}
.color:hover{
    background-color: #39434d;
}
.about{
    background-color: #232f3e;
    height: 380px;
    color: white;
    justify-content: space-around;
    display: flex;
    line-height: 35px;
}
.contents{
    margin-top: 50px;
}
.last{
    background-color: #232f3e;
    margin-top: 1px;
    height: 30px;
    color: white;
}
.a{
    margin-top: 8px;
    margin-left: 750px;
}
.final{
    background-color: #232f3e;
    color: white;
    height: 60px;
    display: block;
}
.finals{
    margin-left: 475px;
    padding-top: 7px;
    font-size: 12px;
}
.copy{
    margin-left: 150px;
    line-height: 30px;
}
