*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(56, 56, 56);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    background-image:linear-gradient(to bottom right, #00ff87, #60efff, #b57bee, #392d69);
    border-radius: 3rem;
    box-shadow: 0.7rem 0.7rem;
}
.search{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    gap: 1.5rem;
}
.input{
    width: 25rem;
    height: 3rem;
    border-radius: 5rem;
    text-align: center;
    border: solid black 2px;
    font-size: 1.5rem;
}
.search_icon:hover{
    background-color: transparent;
}
.icon:hover{
    font-size: 1.8rem;
}
.search_icon{
    width: 3rem;
    height: 3rem;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: aliceblue;
    padding: 0.2rem;
    border: solid black 2px;
    cursor: pointer;
}
.icon{
    font-size: 1.5rem;
}
.image{
    margin-top: 1rem;
    justify-self: center;
    background-image: url(cover.png);
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
}
.temp{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    color: black;
}
.city{
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    color: black;
}
.extra{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: rgb(212, 85, 85);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
    .container {
        width: 90%;
        padding: 1.5rem;
    }

    .input {
        width: 75%;
    }

    .temp {
        font-size: 3.5rem;
    }

    .city {
        font-size: 3rem;
    }

    .extra {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    .input {
        width: 80%;
    }

    .temp {
        font-size: 3rem;
    }

    .city {
        font-size: 2.5rem;
    }

    .extra {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 0.5rem;
    }

    .input {
        width: 90%;
    }

    .temp {
        font-size: 2.5rem;
    }

    .city {
        font-size: 2rem;
    }

    .extra {
        font-size: 1rem;
    }

    .search {
        padding: 1rem;
    }
}
@media screen and (max-width: 350px) {
    .container {
        width: 90%;
        padding: 0.3rem;
    }

    .input {
        width: 95%;
        font-size: 1.3rem;
    }

    .temp {
        font-size: 2.3rem;
    }

    .city {
        font-size: 1.8rem;
    }

    .extra {
        font-size: 0.9rem;
    }

    .search {
        padding: 0.9rem;
    }
}